.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 0px;
}

.Card p {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.Card-genre {
  border: 1px solid green;
  width: fit-content;
  padding: 3px 10px;
  margin: 10px 0px 5px 0px;
  border-radius: 0.24rem;
  font-weight: 400;
  font-size: 0.75rem;
}

.Card-footer {
  flex-grow: 5;
  height: 100%;
  display: flex;
  margin-top: 10px;
}

.Card-footer div {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

/* Card Component Overrides */
.p-card {
  padding: 16px 10px;
  min-height: 400px;
}

.p-card-body {
  flex-grow: 2;
}

.p-card-footer {
  flex-grow: 2 !important;
}
