@import './base.css';
@import './layout.css';
@import './components.css';
@import 'primeicons/primeicons.css';
@import './colors.css';
@import './typography.css';

#app {
  font-weight: normal;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f5e5a;


}

@media (prefers-color-scheme: dark) {
  p {
    color: white;
  }
}
