nav {
    border: 1px solid black;
}



.gameCard {
    border: 1px solid gray;
    padding: 30px 20px;
    border-radius: 0.15rem;
    box-shadow: 5px 5;
    /* width: fit-content; */
}



.gameCard p {
    text-wrap: wrap;
}